.vote
  vote-button(object-type='ctrl.objectType', object-id='ctrl.objectId', on-vote='ctrl.onVote(value, user)')
  vote-summary(object-type='ctrl.objectType', object-id='ctrl.objectId', votes='ctrl.votes')
