.vote-summary
  .votes-count
    span.number {{ctrl.votes.count}}
    span(ng-if="ctrl.votes.count !== 1") #{__('votes')}
    span(ng-if="ctrl.votes.count === 1") #{__('vote')}
  .voters
    .voter(ng-repeat='user in ctrl.votes.voters | limitTo:10 track by $index')
      img(ng-src="/api/users/{{user._id}}/profile/avatar")
  span.more-ellipsis(ng-if="ctrl.votes.voters.length > 5") ...
  .gauge
    vote-gauge(votes="ctrl.votes")
