.vote-summary {

  .votes-count {
    font-size: 16px;

    .number {
      margin-right: 0.3em;
    }
  }

  .voters {
    margin-top: 10px;
    margin-bottom: 10px;

    .voter {
      padding-right: 10px;
      img {
        .avatar(36px, 100%);
      }
    }
  }

}
